
/* Blog dates */

 .fancydate {
  color: #777;
  width: 3em;
  text-align: center;
  float: right;
  margin: 0 0 0.5em 1em;
  font-size:1.1em;
}

 .day,
 .month,
 .year {
  display: block;
}

 .day,
 .month {
 background-color: #666666;
 color:#fff;
  }

 .day {
  font-size: 1.5em;
}

 .month {
  font-size: 1.2em;
}

 .year {
}
