
body {
  background: #616161;
  font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
  font-size: 13px;
  color: #444;
  line-height: 17px;
}
#wrap { background: url("images/bottom.jpg") no-repeat scroll left bottom #616161; }
img { border: none; }
a { color: #4C69AF; }
a:hover { text-decoration: none; color : #111; }
#top { background: #616161 url(images/top.jpg) no-repeat scroll center bottom; }

h2 {
border-bottom:1px dotted #AAAAAA;
color:#666666;
font-size:22px;
font-weight:100;
letter-spacing:-1px;
padding:14px 0 4px 0;
}

#secondary-menu a{
  color: #fff;
  text-decoration:none;
}
#secondary-menu a:focus,
#secondary-menu a.active,
#secondary-menu a:hover { text-decoration: underline; }

/*
  HEADER AREA
*/
#header { background: #616161 url(images/header.jpg) repeat-y scroll left top; }

#header h1 {
  font-size:38px;
  font-weight:600;
  letter-spacing:-2px;
}

#header h1 a {
  color: #fff;
  text-decoration: none;
}

#header h1 a:hover {
  color: #111;
  text-decoration: none;
}

#header h2 {
  color:#EEEEEE;
  font-size:16px;
  border:none;
  font-weight: bold;
  letter-spacing:normal;
}

#site-name {
  font-size: 26px;
  color: #fff;
}

/*
  PRIMARY LINKS
*/
#menu {
  line-height: 30px;
  background: #616161 url(images/menu.jpg) no-repeat;
}

#menu li { list-style-type: none; }

#menu li a{
  color: #fff;
  text-decoration: none;
  font-weight: 100;
}

#menu li a:hover,
#menu li a:focus,
#menu li a.active { background: #666; }

/*
  SEARCH BOX
*/
#header #search { color:#FFFFFF; }

#header .form-text {
border: none;
background-color: #fff;
}

input.form-submit {
  background-color: #fff;
  border: 1px solid #616161;
  -moz-border-radius: 3px;
  webkit-border-radius: 3px;
  padding: 0 5px 2px;
}
input.form-submit:hover {
  background-color: #616161;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
/*
  END HEADER AREA
*/

/*
  CONTENT AREA
*/
#content { background: #fff url(images/content.jpg) repeat-y; }
/*
  CONTENT TOP REGION
*/
div#content-top-inner {
  background-color: #616161;
  color:#FFF;
  -moz-border-radius: 5px; /* for mozilla based browsers, an easy way to reward the better browsers ;) */
  webkit-border-radius: 5px; /* for safari, same as above */
}

div#content-top-inner a,
div#content-top-inner h2 { color: #fff;}

/*
  MAIN CONTENT AREA
*/
div#content div#main-content {
  font-size: 12px;
  text-align: justify;
}

.page-admin div#content div#main-content {
 text-align:left;
}
.breadcrumb {
 font-size: 0.9em;
 line-height: 1em;
}

#main-content h1,
#main-content h2 {
  border-bottom: 1px dotted #aaa;
  font-weight: 100;
  color: #666;
  letter-spacing: -1px;
  padding-bottom:4px;
  line-height:0.9em;
}

#main-content h1 a,
#main-content h2 a{
  text-decoration: none;
  letter-spacing: -1px;
}

#main-content h1 {  font-size: 26px; }
#main-content h1 a {  font-size: 26px; }
#main-content h1 a:hover, #main-content h2 a:hover { color: #333; }

#main-content h2 {
  font-size: 22px;
  margin:10px 0 7px;
}

#main-content .content img { margin:5px; }

#main-content h3 {
  border-bottom: 1px dotted #6C91FC;
  font-size:18px;
}

.submitted { font-size:10px; }

.messages,
.status {
  background-color: #616161;
  color:#fff;
  padding:10px;
}

 /* for comments*/
.indented {
  background: #FFFFFF url(images/indented.png) no-repeat scroll left -2px;
  padding-left:25px;
  margin-left:0px;
}

/*
  RIGHT SIDEBAR REGION
*/
#sidebar-first h2 { color: #666; }

#sidebar-first ul,
#sidebar-first .item-list ul li { list-style-type: none; }

#sidebar-first ul li a {
  color: #4C69AF;
  font-weight: 100;
  display: block;
  text-decoration: none;
  font-size: 14px;
  border-bottom: 1px dotted #aaa;
}

#sidebar-first .views-admin-links ul li a {
display: inline;
}

#sidebar-first ul li a:hover { color : #111; }
/*
  END CONTENT AREA
*/

/*
  FOOTER REGION
*/
#footer {
  font-size: 11px;
  background: #616161 url(images/footer.jpg) repeat-y ;
}
#footer,
#footer a,
#footer h2 { color: #eee; }
div#content-top-inner h2 ,
#footer h2 { padding-top: 0; }

#footer a:hover,
#footer a.active,
div#content-top-inner a:hover,
div#content-top-inner a.active {
  color: #aaa;
  text-decoration: underline;
}

.admin-list dt {
  font-size:14px;
}

.admin-list dd {
  margin-bottom: 10px;
}
